.divider {
  position: relative;
  height: 1px;
}

.div_transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(156, 44, 84),
    transparent
  );
}
